.trabajando-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }
  
  .image-container img {
    width: 60%; /* Ajusta el tamaño según lo necesario */
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  .image-container h2 {
    font-size: 1.5rem;
    color: var(--ion-color-primary);
    margin: 0;
  }
  